<h2 mat-dialog-title>Configuration</h2>
<mat-dialog-content>
    <h3>Folder Configuration</h3>
    <p>Specify and enable the target folder to capture the pictures to and monitor.</p>
    <form>
        <mat-form-field>
            <input matInput placeholder="Watch Folder" >
        </mat-form-field>
    </form>
    <h3>Hardware Trigger</h3> 
    <p>Pick a GPIO pin suitable for wiring the trigger button to.</p>
    <form>
        <mat-form-field>
            <input matInput placeholder="Pin Number" >
        </mat-form-field>
    </form>
    <h3>Countdown</h3>
    <p>Select the countdown length.</p>
    <form>
        <mat-form-field>
            <input matInput placeholder="Countdown length" >
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <span class="fill-space"></span>
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

