<mat-dialog-content>
  <h3>Dropbox</h3>
  <p>
    Connecting to dropbox will allow the automatic offloading of pictures to a
    PhotoboothJS specific folder. No access to other files or folders is
    requested
  </p>
  <div *ngIf="dropbox.authStatus == 'not-auth'">
    <a mat-raised-button color="primary" href="{{ dropbox.authUrl }}"
      >Connect to Dropbox</a
    >
  </div>
  <div *ngIf="dropbox.authStatus != 'not-auth'">
    <p>
      You are connected to dropbox as: <b>{{ dropbox.name }}</b> with email:
      <b>{{ dropbox.email }}</b>
    </p>
    <p>
      To deactivate the permissions, navigate to settings in dropbox and
      de-authorised the app.
    </p>
  </div>

  <h3>Folder Configuration</h3>
  <p>
    Specify and enable the target folder to capture the pictures to and monitor.
  </p>

  <form>
    <mat-form-field class="fullWidth">
      <input matInput placeholder="Watch Folder" [value]="filePath" readonly />
    </mat-form-field>
  </form>

  <h3>Serial Port</h3>
  <div *ngIf="currentSerialPort$ | async as serialPort">
    <modify-serialport
      [serialPort]="serialPort" (disconnectSerialPort)="disconnectSerialPort()"
    ></modify-serialport>
  </div>
  <div *ngIf="!(currentSerialPort$ | async)">
    <new-serialport></new-serialport>
  </div>

  <h3>Countdown</h3>
  <p>Select the countdown length.</p>
  <form>
    <mat-form-field>
      <input matInput placeholder="Countdown length" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <span class="fill-space"></span>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
