<div class="qr" *ngIf="qrCodeVisible">
  <qr-code [value]="qrCodeURL" [size]="150"></qr-code>
  <div class="whiteText">Scan to View</div>
</div>
<div class="title-picture" *ngIf="state == 'home'"></div>
<div
  class="picture"
  [style.background-image]="
    'url(../../assets/number-' + multipleDisplay[0] + '.svg)'
  "
  *ngIf="state == 'countdown' && multiple === false"
></div>
<div *ngIf="state == 'countdown' && multiple === true" class="fullHeight">
  <div
    *ngFor="let display of multipleDisplay; index as i"
    class="picture quarter"
  >
    <div
      [style.background-image]="
        display ? 'url(../../assets/number-' + display + '.svg)' : null
      "
    ></div>
    <div
      [style.background-image]="
        pictures[i].display
          ? 'url(../../assets/' + pictures[i].fileName + ')'
          : null
      "
    ></div>
  </div>
</div>
<div
  class="picture"
  [style.background-image]="'url(./picture/' + pictureURL + ')'"
  *ngIf="state == 'picture'"
></div>
<div class="flash" *ngIf="state == 'flash'"></div>
