.title-picture {
    background:url(../../assets/MagicMirror.svg);
    width:95%;
    height:95%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
.picture {
    /* background:url(); */
    width:95%;
    height:95%;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}
.flash {
    width:95%;
    height:95%;
    background:url(../../assets/flash.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}